{% extends "theme/base.html" %}
{% block style %}

.neon-text {
    animation: neonGlow 1.5s infinite alternate;
  }

{% endblock %}
{% block content %}

{% comment %} <form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <img src="{{ user.profile.profile_picture.url }}" width="100" alt="">
        {{profile_form.profile_picture}}
    </div>
    <div class="form-group">
        {{ user.username }}
        {{user_form.username}}
    </div>
    <div class="form-group">
        <label>Email</label>
        {{ user.email }}
        {{user_form.email}}
    </div>
    <div class="form-group">
        <label>BIO</label>
        {{ user.bio }}
        {{profile_form.bio}}
    </div>
    <div class="form-group">
        <label>dob</label>
        {{ user.dob }}
        {{profile_form.dob}}
    </div>

    <button type="submit" >submit</button>

</form> {% endcomment %}

<form method="POST" class=" mb-5 items-center flex flex-col mt-5" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="relative inline-block">
        <label for="profile-pic-input" class="cursor-pointer relative">
            <img src="{{ user.profile.profile_picture.url }}" class="w-48 h-48 rounded-full border-2 border-gray-300 object-cover">

            <span class="absolute bottom-1 right-1 bg-gray-700 p-1 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" 
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                          d="M15.232 5.232l3.536 3.536M9 11l6-6 3.536 3.536-6 6H9v-3.536z"></path>
                    </svg>
            </span>
        </label>
        <input type="file" name="profile_picture" id="profile-pic-input" class="hidden">
    </div>

    <div class="form-group relative">
        <label for="Username">Username</label>
        <div class="flex items-center">
            <input type="text" name="username" id="username-input" value="{{ user.username }}" class="w-full px-3 py-2 rounded-md bg-gray-200  text-gray-900">
        </div>
    </div>
    <div class="form-group relative">
        <label for="BIO">Bio</label>
        <div class="flex items-center">
            <textarea name="bio" id="bio-input" class="bg-gray-200 rounded-md px-3 py-2 text-gray-800 w-full">{{ user.profile.bio }}</textarea>
        </div>
    </div>
    <div class="form-group relative">
        <label for="Email">Email</label>
        <div class="flex items-center">
            <input type="email" name="email" id="email-input" value="{{ user.email }}" class=" px-3 py-2 w-full rounded-md bg-gray-200  text-gray-900">
        </div>
    </div>
    <div class="form-group relative">
        <label for="Username">Date Of Birth</label>
        <div class="flex items-center">
            <input type="date" name="dob" id="dob-input" value="{{ user.profile.dob|date:'Y-m-d' }}" class="w-full px-3 py-2 rounded-md bg-gray-200  text-gray-900">
        </div>
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4">Save Changes</button>


</form>
{% endblock content %}