{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ room_name }}</title>
    <script src="https://kit.fontawesome.com/27238bd807.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% tailwind_css %}
    
  </head>
  <body class="bg-gray-900 text-gray-100 w-full h-screen overflow-hidden">
    <div class="flex h-screen">
      <aside style="background-color:#36404a; width:5%" class="flex flex-col items-center justify-center space-y-8">
            <ul class="space-y-6">
              <li class="p-6 hover:bg-gray-700 text-2xl rounded-lg transition flex justify-center items-center" onclick="showSection('profile')"><i class="fa-regular fa-user" aria-hidden="true"></i></li>
              <li class="p-6 hover:bg-gray-700 text-2xl rounded-lg transition flex justify-center items-center" onclick="showSection('settings')"><i class="fa-solid fa-sliders" aria-hidden="true"></i></li>
              <li class="p-6 hover:bg-gray-700 text-2xl rounded-lg transition flex justify-center items-center" onclick="showSection('rooms')"><i class="fa-solid fa-users-line" aria-hidden="true"></i></li>
              <li class="p-6 hover:bg-gray-700 text-2xl rounded-lg transition flex justify-center items-center" onclick="showSection('log-out')"><i class="fa-solid fa-arrow-right-from-bracket" aria-hidden="true"></i></li>
            </ul>
      </aside>

      {% comment %} Middle Section {% endcomment %}
      <section id="dynamic-section" style="background-color:#303942" class="w-1/4 bg-gray-600 text-white sm:block overflow-y-auto shadow-lg h-full">
        <div id="profile" class="p-4 hidden">
          <h1 class="text-xl font-semibold ml-4">Profile </h1>
          
          {% comment %} profile pic {% endcomment %}
          <div class="flex justify-center w-full items-center">
            <img src="{{ user.profile.profile_picture.url|default:'static/images/default-avatar.png' }}" alt="Profile Picture" class=""> 
          </div>

          <div class="text-center">
            <h1 class="text-lg font-medium">{{ user.username }}</h1>
            <p>{{ user.profile.bio|default:"No Bio Available" }}</p>
          </div>

          <div class="flex justify-center">
            <p>{{ user.profile.dob|date:"F j, Y"|default:"Not Provided" }}</p>
          </div>

        </div>
        <div id="settings" class="p-4 hidden ">
          <h1 class="text-xl font-semibold">Settings</h1>
          <p class="mt-4">Settings options will go here</p>
        </div>
        <div id="log-out" class="p-4 hidden ">
          <h1 class="text-xl font-semibold">Log-out</h1>
          <p class="mt-4">Log-out</p>
        </div>
        <div id="rooms" class="p-4 hidden ">
          <h1 class="text-xl font-semibold">Available Groups</h1>
          <ul class="mt-4">
            {% for room in rooms %}
              <li>
                <a href={% url "room" room.name %} class="block p-3 bg-inherit hover:bg-gray-500 mt-2 transition-all items-center">
                  {{ room.name }}
                  {% if room.unread_count %}
                    <span style="background-color: red; color:white;"  class=" text-white text-xs font-semibold ml-auto px-2 py-1 rounded-full">{{ room.unread_count }}</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>

        <main class="flex-1 flex flex-col">
          <header class="p-4 text-white " style="background-color:#252e35">
            <h2 class="text-lg font-medium">{{ room_name }}</h2>
          </header>
  
          <div id="chat-log" class="flex-1 overflow-y-auto p-4" style="background-color:#252e35">
            {% for message in messages %}
              <div class="my-2 {% if message.user.username == username %}ml-auto text-right {% else %}mr-auto text-left{% endif %}">
                <div class="text-sm font-semibold text-white mb-1">{{ message.user.username  }}</div>
                <div style="background-color:#746de6 " class="p-3 text-white  max-w-ws inline-block rounded-lg break-words shadow-lg">{{ message.content }}</div>
                <div class="text-xs text-gray-300 mt-1">{{ message.timeStamp }}</div>
              </div>
            {% endfor %}
          </div>
  
          <footer class="p-4" style="background-color:#252e35">
            <div class="flex items-center space-x-2 mb-4">
              <input
                type="text"
                id="chat-message-input"
                class="flex-1 bg-gray-700 text-white px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" style="color:rgb(255, 255, 255)" placeholder="Type your message..."
              /><br />
              <input
                type="button"
                value="Send"
                class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md focus:outline-none transition"
                id="chat-message-submit"
              /><br />
            </div>
          </footer>
        </main>
      </div>
      {{ room_name|json_script:"room-name" }}   
  </body> 
  <script> 
    const roomName = JSON.parse(
      document.getElementById("room-name").textContent
    );

    const chatSocket = new WebSocket(
      "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
    );

    chatSocket.onmessage = function (event) {
      const data = JSON.parse(event.data);
      const currentUsername = "{{ username }}";
      const chatLog = document.querySelector("#chat-log");

      if(!data.message || data.message.trim() === ""){
        return;
      }

      const msgContainer = document.createElement("div");
      const usernameDiv = document.createElement("div");
      const messageDiv = document.createElement("div");
      const timeStampDiv = document.createElement("div");

      usernameDiv.textContent = data.username;
      usernameDiv.classList.add(
        "text-sm",
        "font-semibold",
        "text-white",
        "mb-1"
      );
      messageDiv.textContent = data.message;
      messageDiv.classList.add(
        "p-3",
        "bg-indigo-600",
        "text-white",
        "max-w-ws",
        "inline-block",
        "rounded-lg",
        "break-words",
        "shadow-lg"
      );
      timeStampDiv.textContent = data.timeStamp
      timeStampDiv.classList.add("text-xs", "text-gray-300", "mt-1")

      if (data.username === currentUsername) {
        msgContainer.classList.add( "text-right" );
      } else {
        msgContainer.classList.add( "text-left");
      }

      msgContainer.appendChild(usernameDiv);
      msgContainer.appendChild(messageDiv);
      msgContainer.appendChild(timeStampDiv);
      chatLog.appendChild(msgContainer);

      chatLog.scrollTop = chatLog.scrollHeight;
    };

    chatSocket.onclose = function (e) {
      console.error("Chat Socket Closed unexpectedly");
    };

    document.querySelector("#chat-message-input").focus();
    document.querySelector("#chat-message-input").onkeyup = function (e) {
      if (e.keyCode === 13) {
        document.querySelector("#chat-message-submit").click();
      }
      document.querySelector("#chat-message-submit").onclick = function (e) {
        let messageInputDom = document.querySelector("#chat-message-input");
        let msg = messageInputDom.value;
        if (msg.trim() != "") {
          chatSocket.send(
            JSON.stringify({
              message: msg,
            })
          );
          messageInputDom.value = "";
        }
      };
    };
 
    function showSection(sectionID){
      const sections = ["profile", "settings", "log-out", "rooms"]
      sections.forEach((id) => {
        document.getElementById(id).classList.add("hidden");
        });
        document.getElementById(sectionID).classList.remove("hidden");
    }
  </script>
</html>
